{% extends 'base.html.twig' %}

{% block body -%}
    {% for blog in blogs %}
        <div class="blog-post">
            <h2 class="blog-post-title">
              {# <a href="{{ path('edit', { 'id': blog.id }) }}">edit</a> #}
                <a href="{{ path('show', { 'id': blog.id }) }}">{{ blog.title }}</a>
                <h4 class="blog-post-meta">created by: {{ blog.author }}</h4>
            </h2>
            <p class="blog-post-meta">{{ blog.created|date('Y-m-d') }}
            </p>
        </div>
    {% endfor %}
    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="#">Older</a>
      <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>
{% endblock %}
